@import "@/styles/base/mixin";
@import "@/styles/base/variables";

.container {
  padding: 5rem 3rem;
  height: fit-content;
  background-color: #283618;
  position: relative;

  @include Small {
    padding: 5rem 1rem;
  }
}

.footerWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 5rem;

  @include Medium {
    column-gap: 10px;
  }

  @include Small {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

  @include X-Small {
    grid-template-columns: 1fr;
  }

  .logo {
    width: auto;
    height: 50px;
    margin-bottom: 1rem;

    img {
      width: auto;
      height: 100%;
    }
  }

  h2 {
    margin-bottom: 2rem;
    color: #fff;
    line-height: normal;
    letter-spacing: 2px;
    font-size: 20px;

    @include X-Small {
      margin: .5rem 0;
    }
  }

  a,
  p {
    color: #bebebe;
    line-height: 30px;
  }

  a:hover {
    color: #fff;
    transition: 0.5s color ease;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;

    @include Medium {
      margin-right: 10px;
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;

      @include Small {
        width: 100%;
      }

      @include X-Small {
        width: 50%;
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  .aboutContent {
    text-align: justify;
    margin-bottom: 1rem;
  }
}

.icon {
  position: absolute;
  bottom: 3rem;
}

.fbIcon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: #fff;
  color: #283618;
  border-radius: 50px;
  padding: 5px;

  @include Small {
    bottom: 2rem;
  }
}
