@import "@/styles/base/variables";
@import "@/styles/base/mixin";
@import "@/styles/base/extends";

.container {
  padding: 3rem;

  @include Small {
    padding: 3rem 1rem;
  }

  .titleWrap {
    @extend %home-title;
  }

  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    @include Medium {
      gap: 1rem;
    }

    @include Small {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }

    h2 {
      margin-bottom: .5rem;
      font-weight: 500;
    }

    .itemImage {
      height: 80px;
      overflow: hidden;
      position: relative;
      padding: 1rem;
      border: 1px solid #ccc;
      display: flex;
      align-items: center;

      &.lakos {
        background-color: #232e5e;
      }

      &.walraven {
        background-color: #006950;
      }

      a {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        // scale: 1.2;
        transition: transform 0.3s ease;
      }

      // Hover effect to scale image
      &:hover img {
        transform: scale(
          0.9
        ); // Adjust the scale value for desired zoom level
      }
    }
  }
}
