@import "@/styles/base/mixin";
@import "@/styles/base/variables";

.container {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 3rem;

  @include Small {
    padding: 2rem 1rem;
    gap: 1rem;
    grid-template-columns: 180px 1fr;
  }

  @include X-Small {
    display: flex;
    flex-direction: column-reverse;
  }

  .section {
    width: 100%;
    overflow: hidden;

    .title {
      margin: 0 0 1rem;
      padding-bottom: 1rem;
      font-weight: 700;
      font-size: 20px;
      border-bottom: 1px solid #eaeaea;
    }

    .carouselWrapper {
      margin-bottom: 2rem;
    }

    .flexWrapper {
      display: grid;
      gap: 1rem; // 統一的圖片間距
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // 圖片寬度最小為 250px，根據屏幕自動調整
      grid-template-rows: auto; // 讓每一行的高度根據圖片的大小自動調整
      justify-items: center; // 垂直居中
      align-items: center; // 水平居中
    }
    
    .flexItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
      img {
        width: 100%; // 圖片寬度自適應父容器
        height: auto; // 圖片高度根據寬度自動調整
        object-fit: cover; // 確保圖片覆蓋整個區域
        border-radius: 8px;
      }
    }
    
    @media (max-width: 768px) {
      .flexWrapper {
        gap: 0.5rem; // 更小螢幕時的圖片間距
      }
    }
    
  }
}
